<html lang="einn-US">
    <head>
        <meta charset="utf-8">
        <title>My test page</title>
    </head>
    <body>
    <ul>
        {% for chapter in chapters %}
            <li> {{ chapter.name }} </li>
        {% endfor %}

        {% for exam_with_history in exams_with_history %}
        {%  set exam = exam_with_history.0 %}
        {%  set start_datetime = exam_with_history.1 %}
        {%  set end_datetime = exam_with_history.2 %}
        {%  set score = exam_with_history.3 %}

        <li>
            <a href="/{{student.name}}/{{course.id}}/{{exam.id}}/show">{{ exam.name }}</a>
            {% if start_datetime %}
            <div>開始日 {{start_datetime}}</div>
            {% endif %}
            {% if end_datetime %}
            <div>終了日 {{end_datetime}}</div>  
            {% endif %}
            {% if score %}
            <div>点数 {{score}}</div>
            {% endif %}
        </li>

        {% endfor %}
    </ul>
    </body>
</html>
